@font-face {
  font-family: 'Hando';
  src: url('../fonts/Hando.woff2') format('woff2'),
       url('../fonts/Hando.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hando';
  src: url('../fonts/Hando-Bold.woff2') format('woff2'),
       url('../fonts/Hando-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} 